{{#each articles as |article|}}
  <main class="container">
    <section>
      <h2>
        <a href="/article/{{article.id}}">{{article.title}}</a>
      </h2>
      <p>Created by:
        {{article.user.name}}
        on
        {{format_date article.date_created}}</p>
      <div>
        <p>{{article.content}}</p>
      </div>
    </section>
  </main>
{{/each}}